*{
	margin: 0 auto;
}

#top{
	width:100%;
	height:500px;
	background-size: 100% 100%;
	background-image: url("img/top.jpg");
}

#nav{
	width:100%;
	height:50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	background-color: aliceblue;
}

#nav #active{
	color: deepskyblue;
}

#page-title h2{
	padding-left: 10px;
	letter-spacing: 10px;
	border-left: 10px solid aquamarine;
}

#nav a{
	margin: 0 50px;
	color: darkseagreen;
	text-decoration: none;
}

#nav a:hover{color: green;}

#main{
	width: 100%;
	height: 1050px;
	overflow: hidden;
	background-color: darkseagreen;
}

#left{
	width: 30%;
	float: left;
	height: 1000px;
	overflow: hidden;
	margin-left: 30px;
}

#left1{	
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/left1.jpg");
}

#left2{
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/left2.jpg");
}

#left3{
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/left3.jpg");
}

#environment1{
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/environment1.jpg");
}

#environment2{
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/environment2.jpg");
}

#environment3{
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/environment3.jpg");
}

#eco1{	
	float: left;
	width: 30%;
	height: 950px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/eco1.jpg");
}

#eco2{
	float: left;
	width: 30%;
	height: 950px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/eco2.jpg");
}

#eco3{
	float: left;
	width: 30%;
	height: 950px;
	margin-top: 25px;
	margin-left: 35px;
	background-size: 100% 100%;
	background-image: url("img/eco3.jpg");
}

#right{
	width: 60%;
	float: right;
	height: 1000px;
	overflow: hidden;
	margin-right: 30px;
	text-overflow: ellipsis;
}

#sights{
	width: 100%;
	margin: auto;
	display: flex;
	height: 1000px;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: darkseagreen;
}

#sights img{
	width: 300px;
	height: 250px;
	overflow: hidden;
	margin-top: 50px;
	object-fit: cover;
	padding:10px 20px;
	box-shadow: inset 2px 5px 18px aquamarine;
}

#right h2{
	color: aliceblue;
	margin-top: 30px;
	padding-left: 10px;
	border-left: 10px solid aquamarine;
}

#right p{
	margin-top: 20px;
	font-size: 20px;
	letter-spacing: 5px;
}


#img-box{
	width: 100%;
	margin: auto;
	display: flex;
	background-color: lightcyan;
}

#img-box img{
	width: 240px;
	height: 160px;
	object-fit: cover;
	padding:10px 20px;
	box-shadow: inset 2px 5px 18px aqua;
}

#include ul li{	
	font-size: 20px;
	letter-spacing: 7px;
}

#contact{
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: aliceblue;
}

#contact ul li{
	display: flex;
	list-style: none;
	margin-bottom: 20px;
}

#contact ul li span{
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: justify;
	display:inline-block;
}

#contact ul li b{
	height: 30px;
	line-height: 30px;
	display:inline-block;
}

#contact ul li span::after{
	content: '';
	width: 100%;
	display: inline-block;
}

#contact input{
	width: 300px;
	height: 30px;
	font-size: 14px;
	padding-left: 10px;
}

#contact textarea{
	padding: 10px;
	font-size: 14px;
}

#contact button{
	border: none;
	cursor: pointer;
	color: aliceblue;
	padding: 5px 2px;
	margin-left: 80px;
	background-color: darkseagreen;
}

#contact button:hover{opacity: 0.8;}

#a{
	width: 50%;
	float: left;
	height: 450px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#d{
	width: 50%;
	height: 450px;
	float: right;
	overflow: hidden;
}


#foot{
	width:100%;
	height: 50px;
}

#foot h2{
	padding-top: 10px;
	text-align: center;
	letter-spacing: 10px;
}